<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-16">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cemetery Plot Search</title>
  <style>

html, body {
  height: 100%;
}
    body { 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%;
    display: flex;
  flex-direction: column;
     }
    header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    }
    .content {
  flex: 1 0 auto;
    }
    form { margin: 20px; font-size: larger; }
    button {font-size: larger;}
    input {font-size: larger;}
    select {font-size: larger;}
    textarea {font-size: medium;}
    div { margin: 20px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    footer {
      flex-shrink: 0;
    }
</style>
</head>
<body>
  <div class="content">
<header>
  <h1>Grandview Cemetery Plot Search</h1>
  <form action="/" method="get">
    <button type="submit">Return Home</button>
  </form>
</header>
  <p>Submit feedback and questions here.</p>
  
  <form action="/.netlify/functions/insertFeedback" method="POST" id="feedback-form">
    <div>
      <label for="report_type">Feedback Type</label>
      <select name="report_type" id="report_type">
        <option value="bug">Bug/Issue</option>
        <option value="feature">Feature</option>
        <option value="question">Question</option>
      </select>
    </div>
    <div>
    <textarea name="report_body" id="report_body" rows="4" cols="50"></textarea>
    </div>
    <div>
      <button type="submit">Submit Feedback</button>
    </div>
  </form>
    
  <% if (message) { %>
    <p><%= message %></p>

  <% } %>

<footer>
<p>Coded from scratch by Claire Bourdon (<a href="https://mayanwolfe.com">personal site</a>) using EJS and Supabase. Hosted on Netlify.</p>
</footer>
</body>
</html>