<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-16">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cemetery Plot Search</title>
  <style>

html, body {
  height: 100%;
}
    body { 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%;
    display: flex;
  flex-direction: column;
     }
    header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    }
    .content {
  flex: 1 0 auto;
    }
    form { margin: 20px; font-size: larger; }
    button {font-size: larger;}
    input {font-size: larger;}
    div { margin: 20px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    footer {
      flex-shrink: 0;
    }
</style>

<!-- Minified version -->
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

</head>
<body>
  <div class="content">
<header>
  <h1>Grandview Cemetery Plot Search</h1>
  <a href="/.netlify/functions/updatePage">Update a Record (requires docent login)</a>
  <a href="/.netlify/functions/renderFeedback">Contact the Developer/Provide Feedback</a>
</header>
<h3><a href="/assets/Grandview_Map.jpg">Click here for a high-resolution map of the cemetery.</a></h3>
  <p>Enter as many values as are known and leave unknown fiends blank. Leave all fields blank for a list of all available records.</p>
  <p>Fields are not case-sensitive and partial matches are accepted. For example, entering "mill" in the Last Name field could return records with a last name of "Miller" "Hamill", and "Mill".</p>
  <form action="/search" method="get" id="search-form">
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
          <label for="maidenName">Maiden Name:</label>
          <input type="text" id="maidenName" name="maidenName">
        </div>
        <div>
            <label for="birthYear">Birth Year:</label>
            <input type="number" id="birthYear" name="birthYear" min="1700" max="2050">
        </div>
        <div>
            <label for="deathYear">Death Year:</label>
            <input type="number" id="deathYear" name="deathYear" min="1700" max="2050">
        </div>
        <button type="submit">Search</button>
    </form>
    <h1>Search Results</h1>
    <span>To correct or update a record, contact the museum docent to log in. Note the ID value of the record you wish to update, as this will be required.</span>
    <% if(records) { %>
    <table>
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>LAST NAME</th>
          <th>FIRST NAME</th>
          <th>MIDDLE</th>
          <th>MAIDEN</th>
          <th>SUFFIX</th>
          <th>BIRTH DATE</th>
          <th>DEATH DATE</th>
          <th>AGE</th>
          <th>SECTION</th>
          <th>LOT</th>
          <th>IS VET</th>
          <th>NOTES</th>
          <th>MOVED FROM</th>
          <th>MOVED TO</th>
        </tr>
        
        <% records.forEach(function(record) { %>
            <tr>
              <% for(let field in record) { %>
                <td><%= record[field] %></td>
              <% } %>
            </tr>
        <% }); %>
    </table>
    <% } else {"No records returned."} %>

  </div>
<footer>
<p>Coded from scratch by Claire Bourdon. <a href="/.netlify/functions/renderFeedback">Contact the Developer/Provide Feedback</a> Hosted on Netlify.</p>
</footer>
</body>
</html>