<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        body { 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%
     }
    form { margin: 20px; font-size: larger; }
    button {font-size: larger;}
    input {font-size: larger;}
    div { margin: 20px; }
    </style>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
      </form>
    <h1>Admin Login</h1>
    <p>Enter the administrator password to make changes to cemetery records.</p>
    <h2>This session will expire in 10 minutes.</h2>
    <form action="/.netlify/functions/login" method="POST" id="login-form">
        <div>
            <label for="password">Password:</label>
            <input type="hidden" id="password" name="password">
        </div>
        <button type="submit">Login</button>
        <h3><%= message %></h3>
    </form>
</body>
</html>